@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --light-gray: hsl(0, 0%, 98%);
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 85px 32px;
}

header {
  margin-bottom: 4.75rem;
}

.heading {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 2.25rem;
  letter-spacing: 0.17px;
  color: var(--dark-blue);
  text-align: center;
}

.heading em {
  font-weight: 600;
  display: block;
  font-style: normal;
}

.intro-description {
  color: var(--grayish-blue);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 25px;
  margin-top: 1rem;
}

.card {
  max-width: 311px;
  height: 222px;
  padding: 28px;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  border-radius: 8px;
  margin: auto;
  margin-bottom: 25px;
  width: 100%;
}

.card:first-of-type {
  border-top: 3px solid var(--cyan);
}

.card:nth-of-type(2) {
  border-top: 3px solid var(--red);
}

.card:nth-of-type(3) {
  border-top: 3px solid var(--orange);
}

.card:last-of-type {
  border-top: 3px solid var(--blue);
}

.card-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--dark-blue);
}

.card-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0.9px;
  color: var(--grayish-blue);
}

.card-icon {
  display: block;
  width: 57px;
  height: 57px;
  position: relative;
  left: 200px;
  top: 35px;
}
